<!DOCTYPE html> 
<html lang="en"> 
<head>  
    <meta charset="utf-8">
	<title>Ejemplo 1</title> 
	<link href="assets/css/miestilo.css" rel="stylesheet"> 
</head> 
<body>
	<nav>
		<div>
			<img src="assets/img/ico-google.png" height="45">
			<img src="assets/img/logotipo-google.png" width="120">
		</div>
		<div class="margin-izq">
		<ul>
			<li>
				<a href="https://www.google.com/">Google</a>
			</li>
			<li>
				<a href="https://espanol.yahoo.com/">Yahoo</a>
			</li>
			<li>
				<a href="http://exa.unne.edu.ar/">exa.UNNE</a>
			</li>
			<li>
				<a href="https://www.youtube.com/">Youtube</a>
			</li>
			<li>
				<a href="https://www.microsoft.com/es-ar">Microsoft</a>
			</li>
			<li>
				<a href="https://slack.com/intl/es-ar/">Slack</a>
			</li>
		</ul>
		</div>
	</nav>

	<div>
		<h1 class="titulo">Bienvenidos a Taller de Programación I</h1> 
		<p class="parrafo">Hoy sólo aprendo estilos Css.</p>
	</div>
<footer>
	
</footer>
    <script src="assets/js/jquery-3.4.1.min.js"></script>   
    <script src="assets/js/bootstrap.js"></script>
</body> 
</html> 