<!DOCTYPE html> 
<html> 
<head>  

	<title>Ejemplo 1</title> 
	<link href="assets/css/miestilo.css" rel="stylesheet"> 
</head> 
<body>
	<nav class="navbar">
		<div>
			<img src="https://www.stickpng.com/assets/images/5a951939c4ffc33e8c148af2.png" height="50">
			<img src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" height="50">
		</div>
		<div>
		<ul>
			<li>
				<a href="https://www.google.com/">Google</a>
			</li>
			<li>
				<a href="https://espanol.yahoo.com/">Yahoo</a>
			</li>
			<li>
				<a href="http://exa.unne.edu.ar/">exa.UNNE</a>
			</li>
			<li>
				<a href="https://www.youtube.com/">Youtube</a>
			</li>
		</ul>
		</div>
	</nav>

	<div>
		<h1 class="titulo">Bienvenidos a Taller de Programación I</h1> 
		<p class="parrafo">Hoy sólo aprendo estilos Css.</p>
	</div>
<footer>
	
</footer>
</body> 
</html> 